<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    {% block title %}<title>LocalLibrary</title>{% endblock %}
</head>
<body>
    {% block sidebar %}
    <div class="sidebar">
        <ul>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'books_page' %}">All Books</a>
                <a href="{% url 'authors_page' %}">All Authors</a>
        </ul>
        <div class="hr"></div>
        <div class="user_status">
            {%if user.is_authenticated %}
                <li style="color: rgb(140, 251, 255); font-weight: bolder; font-size: 30px;">User: {{ user.get_username }}</li>
                <li><a href="{% url 'my-borrowed' %}">My Borrowed Books</a></li>
                <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
            {% endif %}
        </div>
        <div class="hr"></div>
    </div>
    {% endblock %}
    <div class="center-div">{% block content %} {% endblock %}</div>
    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endblock %}
</body>
</html>